*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenitore{
    width: 1710px;
    height: 80px;
    display: flex;
    background-color: blueviolet;
    margin: auto;
}

.row30{
    width: 20%;
    height: 40px;
    margin: auto;
    background-color: rgb(255, 217, 0);
    border: 1px dashed black;
}

.row40{
    width:60%;
    height:40px;
    margin: auto;
    background-color: rgb(255, 217, 0);
    border: 1px dashed black;
}