*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*CLASSI UTILITY*/
.contenitore{
    width: 1410px;
    display: flex;
    margin: auto;
}

.border-dotted{
    border: 3px dashed black;
}

.border-dotted-white{
    border: 3px dashed white;
}

/*NAV*/

nav{
    background-color: #ADD8E6;
    padding: 20px;
}

.row20{
    width: 20%;
    height: 5%;
    margin: auto;
    background-color: rgb(255, 217, 0);
}

.row40{
    width:60%;
    height:5%;
    margin: auto;
    background-color: rgb(255, 217, 0);
    
}

.testo-centrale{
    text-align: center;
}

.testo-centrale, .testo-sinistro, .testo-destro{
    padding: 10px;
}

.testo-destro{
    text-align: end;
}

/*MAIN*/

.background-trasparente, .background-blu, .background-grigio, .background-grigio-scuro{
    padding: 50px;
}

.background-blu{
    background-color: blue;
}

.background-grigio{
    background-color: lightgray;
}

.background-grigio-scuro{
    background-color: gray;
}

.quadro-fucsia{
    background-color: fuchsia;
    margin: auto;
    width: 80%;
    height: 400px;
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.altezza-quadro{
    height: 600px;
    margin: auto;
}

.quadro-rosa{
    width: 40%;
    background-color: pink;
}

.quadro-celeste{
    width: 60%;
    background-color: lightskyblue;
}

.quadro-verde{
    width: 100%;
    height: 1410px;
    background-color: green;
}

.quadro-salmone{
    width: 30%;
    background-color: salmon;
}

.quadro-verde-acqua{
    width: calc(70% / 4);
    background-color: aqua;
}